html {background: repeating-linear-gradient(
  -15deg,
  #111,
  #222 2px,
  #222 2px,
  #111 4px);
}

canvas {position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  box-shadow: 0 0 30px 1px #555;
}
